<div class="news">
  <h2 class="block-title">Aktuality</h2>
  <ul class="news__list">
    <li class="news__item">
      <time class="news__date" datetime="2020-07-31 19:00">31.7.2020 od 19:00</time>
      <p class="news__place">Filharmonie Bohuslava Martinů, Zlín</p>
      <p class="news__text">
        S.Rachmaninov: Koncert č.2 c moll<br>
        dir. Tomáš Brauner
      </p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-08-16 17:30">16.8.2020 od 17:30</time>
      <p class="news__place">Mendelssohn Musikwoche Wengen, Švýcarsko</p>
      <p class="news__text">Recitál s Milanem Al-Ashhabem</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-09-19 19:30">19.9.2020 od 19:30</time>
      <p class="news__place">Klasici v Táboře, divadlo v Táboře</p>
      <p class="news__text">Recitál s Milanem Al-Ashhabem</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-13 19:30">13.10.2020 od 19:30</time>
      <p class="news__place">Kostel sv. Vavřince, Praha</p>
      <p class="news__text">Festival Věčná naděje,<br> recitál klavír sólo</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-20">20.10.2020</time>
      <p class="news__place">KPH Kralupy nad Vltavou</p>
      <p class="news__text">Recitál s Romanem Patočkou</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-25">25.10.2020</time>
      <p class="news__place">Nové Město nad Metují</p>
      <p class="news__text">Recitál s Kateřinou Javůrkovou</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-11-18 19:30">18.11.2020 od 19:30</time>
      <p class="news__place">Kostel sv.Vavřince, Praha</p>
      <p class="news__text">
        Pražské múzy<br>
        Recitál s Evou Garajovou
      </p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-12-17 19:00">17.12.2020 od 19:00</time>
      <p class="news__place">Pianotéka Braník, Praha</p>
      <p class="news__text">Recitál klavír sólo</p>
    </li>
  </ul>
</div>
