<div class="news">
  <h2 class="block-title">Aktuality</h2>
  <ul class="news__list">
    <!-- <li class="news__item">
      <time class="news__date" datetime="2019-05-10 19:00">10.5.2019 od 19:00</time>
      <p class="news__place">Horažďovice</p>
      <p class="news__text">Koncert s Milanem Al&#8209Ashhabem</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2019-05-29 21:30">29.5.2019 od 21.30</time>
      <p class="news__place">Pražské jaro</p>
      <p class="news__text">Nocturno, s Milanem Al&#8209Ashhabem</p>
    </li> -->
    <li class="news__item">
      <time class="news__date" datetime="2019-10-01">1.10.2019</time>
      <p class="news__place">Uherské Hradiště</p>
      <p class="news__text">Recitál s houslistou Romanem Patočkou</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2019-10-12">12.10.2019</time>
      <p class="news__place">Slovensko - Bratislavské hudobné slávnosti</p>
      <p class="news__text">Recitál s Milanem Al-Ashhabem</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2019-10-19">19.10.2019</time>
      <p class="news__place">Praha, Lichtenštejnský palác, ČSKH</p>
      <p class="news__text">Recitál s Milanem Al-Ashhabem</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2019-12-12">12.12.2019</time>
      <p class="news__place">Severočeská filharmonie Teplice</p>
      <p class="news__text">A.Skoumal : koncert pro klavír a orchestr č.2</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-01-28">28.1.2020</time>
      <p class="news__place">Kolín</p>
      <p class="news__text">Recitál s Milanem Al-Ashhabem</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-05">5.2.2020</time>
      <p class="news__place">Konice</p>
      <p class="news__text">Sólo klavír recitál</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-23">23.2.2020</time>
      <p class="news__place">Uničov</p>
      <p class="news__text">Recitál s Romanem Patočkou</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-24">24.2.2020</time>
      <p class="news__place">Krnov</p>
      <p class="news__text">Recitál s Romanem Patočkou</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-25">25.2.2020</time>
      <p class="news__place">Bruntál</p>
      <p class="news__text">Recitál s Romanem Patočkou</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-26">26.2.2020</time>
      <p class="news__place">Havířov</p>
      <p class="news__text">Recitál s Romanem Patočkou</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-03-15">15.3.2020</time>
      <p class="news__place">Nizozemí, Eindhoven</p>
      <p class="news__text">Recitál s Milanem Al-Ashhabem</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-04-25">25.4.2020</time>
      <p class="news__place">Praha, Rudolfinum</p>
      <p class="news__text">Sólo recitál, Světová klavírní tvorba</p>
    </li>
  </ul>
</div>
