<section class="pieces block" id="pieces">
  <div class="container pieces__container">
    <h2 class="pieces__title block-title">Skladby</h2>
    <ul class="pieces__list pieces__list--printed">
      <li class="pieces__item">
        <a class="pieces__link"
           href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1504734"
           title="Český rozhlas"
           target="_blank"
           rel="noreferrer">
          Valse capricieuse pro housle a klavír (2015)
        </a>
      </li>
      <li class="pieces__item">
        <a class="pieces__link"
           href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1612584"
           title="Český rozhlas"
           target="_blank"
           rel="noreferrer">
          Kejklíř pro klavír (2015)
        </a>
      </li>
      <li class="pieces__item">
        <a class="pieces__link"
           href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1671346"
           title="Český rozhlas"
           target="_blank"
           rel="noreferrer">
          Variace na cikánskou melodii pro housle (violu, flétnu nebo klarinet) a smyčcový orchestr (dechový soubor) (2002)
        </a>
      </li>
      <li class="pieces__item">
        <a class="pieces__link"
           href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1671519"
           title="Český rozhlas"
           target="_blank"
           rel="noreferrer">
          Variace na cikánskou melodii pro housle (nebo violu) a klavír (2002)
        </a>
      </li>
      <li class="pieces__item">
        <a class="pieces__link"
           href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1671527"
           title="Český rozhlas"
           target="_blank"
           rel="noreferrer">
          Variace na cikánskou melodii pro flétnu (nebo klarinet) a klavír (2002)
        </a>
      </li>
      <li class="pieces__item">
        <a class="pieces__link"
           href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1801351"
           title="Český rozhlas"
           target="_blank"
           rel="noreferrer">
          Únos Šeherezády pro flétnu a klavír (2001)
        </a>
      </li>
    </ul>
    <ul class="pieces__list pieces__list--not-printed">
      <li class="pieces__item">Shebiana pro lesní roh a klavír (2016)</li>
      <li class="pieces__item">La Valse de l’avanture (2016)</li>
      <li class="pieces__item">"Pinocchio" 4-ruční duet pro děti (2014)</li>
      <li class="pieces__item">"Kráska a zvíře", duo Viola & Violoncello (2014)</li>
      <li class="pieces__item">Koncert pro housle a orchestr (2013)</li>
      <li class="pieces__item">Corsaresca pro klavír a smyčce (2012)</li>
      <li class="pieces__item">"Rozhovor matky s dcerou", ženský sbor (2011)</li>
      <li class="pieces__item">Shalik pro housle (violoncello nebo violu) a smyčcový orchestr (2011)</li>
      <li class="pieces__item">Shalik pro housle (violoncello nebo violu) a klavír (2011)</li>
      <li class="pieces__item">Rapsodie na starou českou píseň pro klavír a orchestr (2010)</li>
      <li class="pieces__item">P. de Sarasate: Fantazie na Carmen - úprava klavírního doprovodu (2009)</li>
      <li class="pieces__item">Sarabanda a Gigue pro dvoje housle (2009)</li>
      <li class="pieces__item">Trio Exotique pro housle, cello a klavír (2009)</li>
      <li class="pieces__item">Trio Romantique pro housle, cello a klavír (2009)</li>
      <li class="pieces__item">Čtyři cikánské písně pro klavír a mezzosoprán (2008)</li>
      <li class="pieces__item">Cavalleresca pro klavír (2008)</li>
      <li class="pieces__item">Djinnia pro housle a orchestr (2007)</li>
      <li class="pieces__item">Djinnia pro housle a klavír (2007)</li>
      <li class="pieces__item">Koncert č. 2 pro klavír a smyčcový orchestr (2005)</li>
      <li class="pieces__item">Koncert č. 1 pro klavír a orchestr (2004)</li>
      <li class="pieces__item">Dva kusy pro děti, klavír na čtyři ruce (2003)</li>
      <li class="pieces__item">Romantické kusy pro klavír (2003)</li>
      <li class="pieces__item">Etudy pro klavír (2002)</li>
      <li class="pieces__item">Nocturne pro klavír (2000)</li>
      <li class="pieces__item">Variace na lidovou píseň pro klavír (1998)</li>
    </ul>
    <button class="pieces__btn btn" type="button">Další</button>
  </div>
</section>
