<section class="video block" id="video">
  <div class="container">
    <h2 class="video__title block-title">Videa a živé nahrávky</h2>
    <div class="video__slider gallery__slider">
      <div class="video__body gallery__list-wrapper">
        <ul class="video__list gallery__list">
          <li class="video__item gallery__item">
            <div class="video__media" title="Adam Skoumal: The Jongleur">
              <a class="video__link"
                 href="https://www.youtube.com/embed/_Xi_XDUHhaw"
                 target="_blank"
                 rel="noreferrer">
                <picture>
                  <img class="video__img"
                       src="https://i.ytimg.com/vi/_Xi_XDUHhaw/maxresdefault.jpg"
                       width="313"
                       height="176"
                       alt="Adam Skoumal: The Jongleur"
                       loading="lazy">
                </picture>
              </a>
              <button class="video__btn" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
          <li class="video__item gallery__item">
            <div class="video__media js-no-script"
                 title="Semifinal of the Tchaikovsky Competition">
              <a class="video__link"
                 href="https://tch16.medici.tv/en/replay/#filter?instrument=violin,round=semi-finals,candidate=259,slug=second-round-with-milan-al-ashhab "
                 target="_blank"
                 rel="noreferrer">
                <picture>
                  <source type="image/webp"
                          srcset="img/tchaik-comp@1x.webp 1x, img/tchaik-comp@2x.webp 2x">
                  <img class="video__img"
                       src="img/tchaik-comp@1x.jpg"
                       srcset="img/tchaik-comp@2x.jpg"
                       width="313"
                       height="176"
                       alt="Semifinal of the Tchaikovsky Competition"
                       loading="lazy">
                </picture>
              </a>
              <button class="video__btn video__btn--no-function" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
          <li class="video__item gallery__item">
            <div class="video__media"
                 title="Milan Al-Ashhab plays Waxman - Carmen Fantasy">
              <a class="video__link"
                 href="https://www.youtube.com/embed/pH7AdirKHQA"
                 target="_blank"
                 rel="noreferrer">
                <picture>
                  <img class="video__img"
                       src="https://i.ytimg.com/vi/pH7AdirKHQA/hqdefault.jpg"
                       width="313"
                       height="176"
                       alt="Milan Al-Ashhab plays Waxman - Carmen Fantasy"
                       loading="lazy">
                </picture>
              </a>
              <button class="video__btn" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
          <li class="video__item gallery__item">
            <div class="video__media js-no-script"
                 title="Beethoven's 3rd Sonata, Skoumal's Djinnia, 2 Kreislers and Waxman (Semifinal of the Kreisler Competition)">
              <a class="video__link"
                 href="https://mediathek.mdw.ac.at/fritz_kreisler_2018/?tab=2&v=$1$IjK143WC$69noENcNRLqYfF68H89JL/"
                 target="_blank"
                 rel="noreferrer">
                <picture>
                  <source type="image/webp"
                          srcset="img/kreisler-comp@1x.webp 1x, img/kreisler-comp@2x.webp 2x">
                  <img class="video__img"
                       src="img/kreisler-comp@1x.jpg"
                       srcset="img/kreisler-comp@2x.jpg"
                       width="313"
                       height="176"
                       alt="Beethoven's 3rd Sonata, Skoumal's Djinnia, 2 Kreislers and Waxman (Semifinal of the Kreisler Competition)"
                       loading="lazy">
                </picture>
              </a>
              <button class="video__btn video__btn--no-function" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
          <li class="video__item gallery__item">
            <div class="video__media"
                 title="George Gershwin: Rapsodie v modrém v podání SOČRu">
              <a class="video__link"
                 href="https://www.youtube.com/embed/yEhchSXy3e0"
                 target="_blank"
                 rel="noreferrer">
                <picture>
                  <img class="video__img"
                       src="https://i.ytimg.com/vi/yEhchSXy3e0/hqdefault.jpg"
                       width="313"
                       height="176"
                       alt="George Gershwin: Rapsodie v modrém v podání SOČRu"
                       loading="lazy">
                </picture>
              </a>
              <button class="video__btn" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
          <li class="video__item gallery__item">
            <div class="video__media"
                 title="Ernest Bloch: 'Nigun' from Baal Schem">
              <a class="video__link"
                href="https://www.youtube.com/embed/j7bojHA48VQ"
                target="_blank"
                rel="noreferrer">
                <picture>
                  <img class="video__img"
                       src="https://i.ytimg.com/vi/j7bojHA48VQ/hqdefault.jpg"
                       width="313"
                       height="176"
                       alt="Ernest Bloch: 'Nigun' from Baal Schem"
                       loading="lazy">
                </picture>
              </a>
              <button class="video__btn" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
          <li class="video__item gallery__item">
            <div class="video__media"
                 title="Skoumal: Shalik for Viola and Piano">
              <a class="video__link"
                 href="https://www.youtube.com/embed/6jOHxTd9Z0Q"
                 target="_blank"
                 rel="noreferrer">
                <picture>
                  <img class="video__img"
                       src="https://i.ytimg.com/vi/6jOHxTd9Z0Q/hqdefault.jpg"
                       width="313"
                       height="176"
                       alt="Skoumal: Shalik for Viola and Piano"
                       loading="lazy">
                </picture>
              </a>
              <button class="video__btn" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
          <li class="video__item gallery__item">
            <div class="video__media"
                 title="Skoumal: Valse de l'aventure">
              <a class="video__link"
                  href="https://www.youtube.com/embed/MDc5zRWpcJA"
                  target="_blank"
                  rel="noreferrer">
                <picture>
                  <img class="video__img"
                        src="https://i.ytimg.com/vi/MDc5zRWpcJA/sddefault.jpg"
                        srcset="https://i.ytimg.com/vi/MDc5zRWpcJA/maxresdefault.jpg 2x"
                        width="313"
                        height="176"
                        alt="Skoumal: Valse de l'aventure"
                        loading="lazy">
                </picture>
              </a>
              <button class="video__btn" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
          <li class="video__item gallery__item">
            <div class="video__media"
                 title="Adam Skoumal: Variations on a Gypsy Melody">
              <a class="video__link"
                 href="https://www.youtube.com/embed/nr30dMgacrY"
                 target="_blank"
                 rel="noreferrer">
                <picture>
                  <img class="video__img"
                       src="https://i.ytimg.com/vi/nr30dMgacrY/hqdefault.jpg"
                       width="313"
                       height="176"
                       alt="Adam Skoumal: Variations on a Gypsy Melody"
                       loading="lazy">
                </picture>
              </a>
              <button class="video__btn" type="button">
                <span class="visually-hidden">Přehrát</span>
                <svg width="68" height="48"><use class="video__btn-shape" xlink:href="#youtube-btn"></use></svg>
              </button>
            </div>
          </li>
        </ul>
      </div>

      <div class="controls gallery__controls">
        <button class="gallery__btn gallery__btn--prev controls__btn js-controls__btn controls__btn--prev controls__btn--disabled" type="button">
          <span class="visually-hidden">Předchozí</span>
        </button>
        <button class="gallery__btn gallery__btn--next controls__btn js-controls__btn controls__btn--next" type="button">
          <span class="visually-hidden">Dálší</span>
        </button>
      </div>
    </div>
    <a class="video-block__btn btn"
       href="https://www.youtube.com/user/scalsky/videos"
       target="_blank"
       rel="noreferrer">Všechna videa</a>
  </div>
</section>
