.banner {
  position: relative;

  display: flex;
  max-height: 85vh;
}

.banner__pic {
  overflow: hidden;
}

.banner__img {
  object-fit: cover;
}

.banner__title {
  bottom: -12px;
  position: absolute;

  width: 100%;

  @media #{$max-lg} {
    bottom: -9px;
  }

  @media #{$max-sm} {
    bottom: -6px;
  }
}
