.bio {
  padding-top: 80px;

  @media #{$max-lg} {
    padding-top: 60px;
  }

  @media #{$max-md} {
    padding-top: 50px;
  }

  @media #{$max-sm} {
    padding-top: 30px;
  }
}

.bio__body {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-column-gap: 30px;
  margin-bottom: 25px;
  overflow: hidden;

  text-align: justify;

  @media #{$max-md} {
    grid-template-columns: 1fr;

    text-align: left;
  }
}

.bio__img-wrapper {
  @media #{$max-md} {
    display: none;
  }
}

.bio__text {
  &:first-child {
    margin-top: 0;
  }
}

.bio__add-text {
  overflow: hidden;

  transition: 0.4s ease-in-out;
}

.bio-popup__block {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 30px 50px;

  @media #{$max-sm} {
    padding: 30px 20px;
  }
}

.bio-popup__body {

  overflow-y: auto;

  background: #000;
}
