.bio {
  padding-top: 80px;

  @media #{$max-lg} {
    padding-top: 60px;
  }

  @media #{$max-md} {
    padding-top: 50px;
  }

  @media #{$max-sm} {
    padding-top: 30px;
  }
}

.bio__body {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 30px;
  margin-bottom: 25px;
  overflow: hidden;


  @media #{$max-md} {
    grid-template-columns: 1fr;

    text-align: left;
  }
}

.bio__descr {
  grid-row: 1 / 3;

  @media #{$max-md} {
    grid-row: 2;
  }
}

.news {
  grid-column: 2;
  grid-row: 1;
}

.bio__text {
  &:first-child {
    margin-top: 0;
  }

  text-align: justify;
}

.bio__add-text {
  height: 0;
  overflow: hidden;

  transition: 0.4s ease-in-out;
}

.bio__img-wrapper {
  grid-column: 2;
  grid-row: 2;

  @media #{$max-md} {
    display: none;
  }
}


.bio-popup__block {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 30px 50px;

  @media #{$max-sm} {
    padding: 30px 20px;
  }
}

.bio-popup__body {

  overflow-y: auto;

  background: #000;
}
