.cd {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-gap: 30px;
    @include listReset;
  }

  &__link {
    display: block;

    border: 1px solid transparentize($color: #fff, $amount: 0.5);
  }

  &__pic {
    display: block;
  }

  &__descr {
    display: none;
    margin: 0;
  }

  &__text {
    display: none;
    margin: 0;
  }

  &-popup__block {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 30px;
    max-width: 850px;
    padding: 30px 15px;

    background: #000;

    @media #{$max-md} {
      max-width: 550px;
    }

    @media #{$max-sm} {
      grid-template-columns: 1fr;
      max-width: 280px;
    }
  }

  &-popup__block &__pic {
    max-width: 200px;
    margin: auto;

    @media #{$max-sm} {
      max-width: 100px;
    }
  }

  &-popup__block &__descr {
    display: block;
    align-self: center;

    line-height: 28px;
  }

  &-popup__block &__text {
    grid-column: 1/-1;
    display: block;
    padding: 20px 25px 0;
    overflow-y: auto;

    text-align: justify;

    border-top: 2px solid rgba(255, 255, 255, 0.5);

    @media #{$max-sm} {
      min-height: 300px;
      padding: 20px 0;
      overflow: visible;

      text-align: left;
    }
  }

  &-popup__block &__text--small {
    font-size: 16px;


  }
}
