.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media #{$min-sm} {
    max-width: 540px;
  }

  @media #{$min-md} {
    max-width: 720px;
  }

  @media #{$min-lg} {
    max-width: 960px;
  }

  @media #{$min-xl} {
    max-width: 1140px;
  }
}
