.gallery__slider {
  position: relative;

  padding: 0 55px;
  margin-bottom: 50px;

  @media #{$max-sm} {
    margin-bottom: 25px;
  }
}

.gallery__list-wrapper {
  position: relative;

  overflow: hidden;
}

.gallery__list {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  @include listReset;

  transition: 0.4s ease-in-out;
}

.gallery__item {
  &:not(:last-child) {
    @media #{$min-md} {
      margin-right: 30px;
    }
  }

  flex-shrink: 0;
}

.gallery__link {
  display: block;
}

.gallery__pic {
  display: block;
}

.gallery__img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.gallery-popup__block {
  position: relative;

  padding: 0;

  border: 5px solid #ffffff;
}

.gallery-popup__pic {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.gallery-popup__img {
  object-fit: contain;
}

.gallery-popup__descr {
  &:empty {
    display: none;
  }

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 10px 20px 10px 20px;
  margin: 0;

  font-size: 16px;
  line-height: 22px;

  background: rgba(#000000, 0.8);

  @media #{$max-sm} {
    padding: 5px 20px;

    font-size: 12px;
    line-height: 14px;
  }
}

.full-gallery-popup {
  max-width: 1000px;
  padding: 15px 0;
  overflow: auto;

  &::-webkit-scrollbar {
    @include size(5px);

    background: rgba(#ffffff, 0.5);

    &-thumb {
      @include size(5px);

      background: rgba(#ffffff, 0.8);
    }
  }

  @media #{$max-sm} {
    width: 100%;
  }
}

.full-gallery-popup .gallery__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media #{$max-lg} {
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{$max-md} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$max-sm} {
    grid-template-columns: 1fr;
  }
}

.full-gallery-popup .gallery__item {
  padding: 0 15px;
  margin: 0 0 30px;
}

.full-gallery-popup .gallery__img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
