.nav {
  @media #{$max-lg} {
    position: relative;

    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 0;
  }
}

.nav__list {
  &--show {
    display: flex;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include listReset;

  @media #{$max-lg} {
    position: absolute;
    top: 0;
    right: 0;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
    padding: 70px 0 0;

    background: #000;
    box-shadow: 0 0 5px 5px rgba(#ffffff, 0.5);
  }

  @media #{$max-sm} {
    position: fixed;

    width: 100%;
  }
}

.nav__item {
  @media #{$max-lg} {
    width: 100%;
  }
}

.nav__link {
  &:hover::after,
  &:focus::after,
  &:active::after,
  &--active::after {
    @media #{$min-lg} {
      @include pseudo;
      bottom: 0;
      left: 20px;
      right: 20px;

      height: 3px;
      background-color: #ffffff;
    }

    @media #{$max-lg} {
      left: 0;
      right: 0;
    }
  }

  position: relative;

  display: block;
  height: 100%;
  padding: 18px 30px;

  font-size: 20px;
  font-weight: 400;
  text-decoration: none;

  @media #{$max-xl} {
    padding: 18px 27px;
  }

  @media #{$max-lg} {
    padding: 10px 70px 10px 20px;

    border-top: 1px solid #dddddd;
  }
}

.nav__btn {
  &::before {
    @include pseudo;
    top: 10px;
    @include center-x;

    width: 30px;
    height: 4px;

    background-color: #dddddd;
    border-radius: 2px;
    box-shadow: 0 10px 0 #dddddd,
                0 20px 0 #dddddd;


    transition: 0.2s ease-in-out;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      background-color: #fff;
      box-shadow: 0 10px 0 #fff,
                0 20px 0 #fff;
    }

    border-color: #fff;
  }

  position: relative;

  width: 55px;
  height: 50px;

  background: #000000;
  border: 3px solid #dddddd;
  border-radius: 8px;

  cursor: pointer;

  transition: 0.2s ease-in-out;

  @media #{$min-lg} {
    display: none;
  }
}
