<section class="banner">
  <picture class="banner__pic">
    <source media="(max-width: 767px)"
            srcset="img/banner-mob@1x.webp 1x, img/banner-mob@2x.webp 2x"
            type="image/webp">
    <source media="(max-width: 767px)"
            srcset="img/banner-mob@1x.jpg 1x, img/banner-mob@2x.jpg 2x">
    <source type="image/webp"
            srcset="img/banner@1x.webp 1x, img/banner@2x.webp 2x">
    <img class="banner__img"
        src="img/banner@1x.jpg"
        srcset="img/banner@2x.jpg 2x"
        width="1920"
        height="800"
        alt="Adam Skoumal &copy; Kateřina Hager">
  </picture>

  <div class="banner__title">
    <div class="container">
      <h1 class="page-title">Adam Skoumal</h1>
    </div>
  </div>
</section>
