<section class="contact" id="contact">
    <div class="container">
      <h2 class="visually-hidden">Contacts</h2>
      <p>
        Miluše Skoumalová <br>
        Ladova 3 <br>
        128 00, Prague 2 <br>
        Czech Republic<br>
        <a href="tel:+420732884250">(+420) 732 884 250</a> <br>
        <a href="mailto:miluskam@seznam.cz">miluskam@seznam.cz</a> <br>
        <br>
        Adam Skoumal <br>
        <a href="mailto:adam.skoumal@seznam.cz">adam.skoumal@seznam.cz</a>
      </p>
    </div>
  </section>
