<section class="download block" id="download">
    <div class="container">
      <h2 class="download__title block-title">Download</h2>
      <p class="download__subtitle">For the press</p>
      <ul class="download__list">
        <li class="download__item">
          <a class="download__link"
             href="img/download/photo17-orig.jpg"
             title="&copy; Lukáš Kuta"
             aria-label="Open photo for press"
             target="_blank">
            <picture>
              <source type="image/webp"
                      srcset="img/gallery/min/photo17-min@1x.webp 1x, img/gallery/min/photo17-min@2x.webp 2x"
                      loading="lazy">
              <img src="img/gallery/min/photo17-min@1x.jpg"
                   srcset="img/gallery/min/photo17-min@2x.jpg 2x"
                   width="235"
                   height="176"
                   alt="&copy; Lukáš Kuta"
                   loading="lazy">
            </picture>
          </a>
        </li>
        <li class="download__item">
          <a class="download__link"
             href="img/download/photo28-orig.jpg"
             aria-label="Open photo for press"
             target="_blank">
            <picture>
              <source type="image/webp"
                      srcset="img/gallery/min/photo28-min@1x.webp 1x, img/gallery/min/photo28-min@2x.webp 2x"
                      loading="lazy">
              <img src="img/gallery/min/photo28-min@1x.jpg"
                   srcset="img/gallery/min/photo28-min@2x.jpg 2x"
                   width="235"
                   height="176"
                   alt=""
                   loading="lazy">
            </picture>
          </a>
        </li>
        <li class="download__item">
          <a class="download__link"
             href="img/download/photo29-orig.jpg"
             aria-label="Open photo for press"
             target="_blank">
            <picture>
              <source type="image/webp"
                      srcset="img/gallery/min/photo29-min@1x.webp 1x, img/gallery/min/photo29-min@2x.webp 2x"
                      loading="lazy">
              <img src="img/gallery/min/photo29-min@1x.jpg"
                   srcset="img/gallery/min/photo29-min@2x.jpg 2x"
                   width="235"
                   height="176"
                   alt=""
                   loading="lazy">
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </section>
