<section class="gallery block" id="gallery">
    <div class="container gallery__container">
      <h2 class="gallery__title block-title">Photo gallery</h2>
      <div class="gallery__slider fotogallery-slider">
        <div class="gallery__list-wrapper">
          <ul class="gallery__list js-photogallery__list">
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link"
                 href="img/gallery/photo29@1x.jpg"
                 aria-label="Open photo">
                <picture class="gallery__pic">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo29-min@1x.webp 1x, img/gallery/min/photo29-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo29-min@1x.jpg"
                       srcset="img/gallery/min/photo29-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link"
                 href="img/gallery/photo28@1x.jpg"
                 aria-label="Open photo">
                <picture class="gallery__pic">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo28-min@1x.webp 1x, img/gallery/min/photo28-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo28-min@1x.jpg"
                       srcset="img/gallery/min/photo28-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo25@1x.jpg">
                <picture class="gallery__pic"
                aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo25-min@1x.webp 1x, img/gallery/min/photo25-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo25-min@1x.jpg"
                       srcset="img/gallery/min/photo25-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo24@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo24-min@1x.webp 1x, img/gallery/min/photo24-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo24-min@1x.jpg"
                       srcset="img/gallery/min/photo24-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo23@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo23-min@1x.webp 1x, img/gallery/min/photo23-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo23-min@1x.jpg"
                       srcset="img/gallery/min/photo23-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo19@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo19-min@1x.webp 1x, img/gallery/min/photo19-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo19-min@1x.jpg"
                       srcset="img/gallery/min/photo19-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt="&copy; Kateřina Hager"
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo18@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo18-min@1x.webp 1x, img/gallery/min/photo18-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo18-min@1x.jpg"
                       srcset="img/gallery/min/photo18-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt="&copy; Kateřina Hager"
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo17@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo17-min@1x.webp 1x, img/gallery/min/photo17-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo17-min@1x.jpg"
                       srcset="img/gallery/min/photo17-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo1.@1xjpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo1-min@1x.webp 1x, img/gallery/min/photo1-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo1-min@1x.jpg"
                       srcset="img/gallery/min/photo1-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt="With Serge Baudo at the Prague Spring Festival 2007 photo &copy; Zdenek Chrapek PJ"
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo3.@1xjpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo3-min@1x.webp 1x, img/gallery/min/photo3-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo3-min@1x.jpg"
                       srcset="img/gallery/min/photo3-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo5.@1xjpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo5-min@1x.webp 1x, img/gallery/min/photo5-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo5-min@1x.jpg"
                       srcset="img/gallery/min/photo5-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt="With Vladimir Ashkenazy photo &copy; Ondrej Melecky"
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo9.@1xjpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo9-min@1x.webp 1x, img/gallery/min/photo9-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo9-min@1x.jpg"
                       srcset="img/gallery/min/photo9-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo10@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo10-min@1x.webp 1x, img/gallery/min/photo10-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo10-min@1x.jpg"
                       srcset="img/gallery/min/photo10-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo11@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo11-min@1x.webp 1x, img/gallery/min/photo11-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo11-min@1x.jpg"
                       srcset="img/gallery/min/photo11-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt="With Pilsen Philharmonic"
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo12@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo12-min@1x.webp 1x, img/gallery/min/photo12-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo12-min@1x.jpg"
                       srcset="img/gallery/min/photo12-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo13@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo13-min@1x.webp 1x, img/gallery/min/photo13-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo13-min@1x.jpg"
                       srcset="img/gallery/min/photo13-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo14@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo14-min@1x.webp 1x, img/gallery/min/photo14-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo14-min@1x.jpg"
                       srcset="img/gallery/min/photo14-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo15@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo15-min@1x.webp 1x, img/gallery/min/photo15-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo15-min@1x.jpg"
                       srcset="img/gallery/min/photo15-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt="&copy; Lukáš Kuta"
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo16@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo16-min@1x.webp 1x, img/gallery/min/photo16-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo16-min@1x.jpg"
                       srcset="img/gallery/min/photo16-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt="&copy; Lukáš Kuta"
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo26@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo26-min@1x.webp 1x, img/gallery/min/photo26-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo26-min@1x.jpg"
                       srcset="img/gallery/min/photo26-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo27@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo27-min@1x.webp 1x, img/gallery/min/photo27-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo27-min@1x.jpg"
                       srcset="img/gallery/min/photo27-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo20@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo20-min@1x.webp 1x, img/gallery/min/photo20-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo20-min@1x.jpg"
                       srcset="img/gallery/min/photo20-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo21@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo21-min@1x.webp 1x, img/gallery/min/photo21-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo21-min@1x.jpg"
                       srcset="img/gallery/min/photo21-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
            <li class="gallery__item js-gallery__item">
              <a class="gallery__link" href="img/gallery/photo22@1x.jpg">
                <picture class="gallery__pic" aria-label="Open photo">
                  <source type="image/webp"
                          srcset="img/gallery/min/photo22-min@1x.webp 1x, img/gallery/min/photo22-min@2x.webp 2x"
                          loading="lazy">
                  <img class="gallery__img"
                       src="img/gallery/min/photo22-min@1x.jpg"
                       srcset="img/gallery/min/photo22-min@2x.jpg 2x"
                       width="220"
                       height="165"
                       alt=""
                       loading="lazy">
                </picture>
              </a>
            </li>
          </ul>
        </div>

        <div class="controls gallery__controls">
          <button class="gallery__btn gallery__btn--prev controls__btn js-controls__btn controls__btn--prev controls__btn--disabled"
                  type="button">
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="gallery__btn gallery__btn--next controls__btn js-controls__btn controls__btn--next"
                  type="button">
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <button class="js-gallery__open-full-btn btn">Open photo gallery</button>
    </div>
  </section>
