<div class="news">
  <h2 class="block-title">News</h2>
  <ul class="news__list">
    <!-- <li class="news__item">
      <time class="news__date" datetime="2019-05-10 19:00">10.5.2019 from 19:00</time>
      <p class="news__place">Horažďovice</p>
      <p class="news__text">Concert with Milan Al&#8209Ashhab</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2019-05-29 21:30">29.5.2019 from 21.30</time>
      <p class="news__place">Prague Spring</p>
      <p class="news__text">Nocturno, with Milan Al&#8209Ashhab</p>
    </li> -->

    <li class="news__item">
      <time class="news__date" datetime="2019-10-01">1.10.2019</time>
      <p class="news__place">Uherské Hradiště</p>
      <p class="news__text">Concert with Roman Patočka</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2019-10-12">12.10.2019</time>
      <p class="news__place">Slovakia - Bratislavské hudobné slávnosti</p>
      <p class="news__text">Concert with Milan Al-Ashhab</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2019-10-19">19.10.2019</time>
      <p class="news__place">Prague, Lichtenštejnský palác, ČSKH</p>
      <p class="news__text">Concert with Milan Al-Ashhab</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2019-12-12">12.12.2019</time>
      <p class="news__place">Severočeská filharmonie Teplice</p>
      <p class="news__text">A.Skoumal : Concerto for piano and orchestra no.2</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-01-28">28.1.2020</time>
      <p class="news__place">Kolín</p>
      <p class="news__text">Concert with Milan Al-Ashhab</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-05">5.2.2020</time>
      <p class="news__place">Konice</p>
      <p class="news__text">Piano recital</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-23">23.2.2020</time>
      <p class="news__place">Uničov</p>
      <p class="news__text">Concert with Roman Patočka</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-24">24.2.2020</time>
      <p class="news__place">Krnov</p>
      <p class="news__text">Concert with Roman Patočka</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-25">25.2.2020</time>
      <p class="news__place">Bruntál</p>
      <p class="news__text">Concert with Roman Patočka</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-02-26">26.2.2020</time>
      <p class="news__place">Havířov</p>
      <p class="news__text">Concert with Roman Patočka</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-03-15">15.3.2020</time>
      <p class="news__place">Netherlands, Eindhoven</p>
      <p class="news__text">Concert with Milan Al-Ashhab</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-04-25">25.4.2020</time>
      <p class="news__place">Prague, Rudolfinum</p>
      <p class="news__text">Recital, Světová klavírní tvorba</p>
    </li>
  </ul>
</div>
