<div class="news">
  <h2 class="block-title">News</h2>
  <ul class="news__list">
    <li class="news__item">
      <time class="news__date" datetime="2020-07-31 19:00">31.7.2020 from 19:00</time>
      <p class="news__place">The Bohuslav Martinů Philharmonics, Zlín</p>
      <p class="news__text">
        S.Rachmaninoff: Concerto No.2, c minor<br>
        Tomáš Brauner, conductor
      </p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-08-16 17:30">16.8.2020 from 17:30</time>
      <p class="news__place">Mendelssohn Musikwoche Wengen, Switzerland</p>
      <p class="news__text">Concert with Milan Al-Ashhab, violin</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-09-19 19:30">19.9.2020 from 19:30</time>
      <p class="news__place">The Theather in Tábor, Festival Classics in Tábor</p>
      <p class="news__text">Concert with Milan Al-Ashhab, violin</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-13 19:30">13.10.2020 from 19:30</time>
      <p class="news__place">The Church of St. Lawrence, Prague</p>
      <p class="news__text">Festival Everlasting Hope,<br> piano recital</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-20">20.10.2020</time>
      <p class="news__place">KPH Kralupy nad Vltavou</p>
      <p class="news__text">Concert with Roman Patočka, violin</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-25">25.10.2020</time>
      <p class="news__place">Nové Město nad Metují</p>
      <p class="news__text">Concert with Kateřina Javůrková, french horn</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-11-18 19:30">18.11.2020 from 19:30</time>
      <p class="news__place">The Church of St. Lawrence, Prague</p>
      <p class="news__text">
        The Muses of Prague,<br>
        Concert with Eva Garajová, mezzosoprano
      </p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-12-17 19:00">17.12.2020 from 19:00</time>
      <p class="news__place">Pianotéka Braník, Prague</p>
      <p class="news__text">Piano recital</p>
    </li>
  </ul>
</div>
