<div class="news">
  <h2 class="block-title">News</h2>
  <ul class="news__list">
    <li class="news__item">
      <time class="news__date" datetime="2020-07-31 19:00">31.7.2020 from 19:00</time>
      <p class="news__place">Filharmonie Bohuslava Martinů, Zlín</p>
      <p class="news__text">
        S.Rachmaninov: Concerto no.2 c moll<br>
        Tomáš Brauner, conductor
      </p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-08-16 17:30">16.8.2020 from 17:30</time>
      <p class="news__place">Mendelssohn Musikwoche Wengen, Switzerland</p>
      <p class="news__text">Concert with Milan Al-Ashhab</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-09-19 19:30">19.9.2020 from 19:30</time>
      <p class="news__place">Klasici v Táboře, divadlo v Táboře</p>
      <p class="news__text">Concert with Milan Al-Ashhab</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-13 19:30">13.10.2020 from 19:30</time>
      <p class="news__place">Kostel sv. Vavřince, Prague</p>
      <p class="news__text">Festival Věčná naděje,<br> piano recital</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-20">20.10.2020</time>
      <p class="news__place">KPH Kralupy nad Vltavou</p>
      <p class="news__text">Concert with Roman Patočka</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-10-25">25.10.2020</time>
      <p class="news__place">Nové Město nad Metují</p>
      <p class="news__text">Concert with Kateřina Javůrková</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-11-19">19.11.2020</time>
      <p class="news__place">Kostel sv.Vavřince, Prague</p>
      <p class="news__text">Concert with Eva Garajová</p>
    </li>
    <li class="news__item">
      <time class="news__date" datetime="2020-12-17 19:00">17.12.2020 from 19:00</time>
      <p class="news__place">Pianotéka Braník, Prague</p>
      <p class="news__text">Piano recital</p>
    </li>
  </ul>
</div>
