<section class="pieces block" id="pieces">
    <div class="container pieces__container">
      <h2 class="pieces__title block-title">Composer</h2>
      <ul class="pieces__list pieces__list--printed">
        <li class="pieces__item">
          <a class="pieces__link"
             href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1504734"
             title="Český rozhlas"
             target="_blank"
             rel="noreferrer">
            Valse capricieuse for Violin and Piano (2015)
          </a>
        </li>
        <li class="pieces__item">
          <a class="pieces__link"
             href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1612584"
             title="Český rozhlas"
             target="_blank"
             rel="noreferrer">
            The Jongleur for Piano (2015)
          </a>
        </li>
        <li class="pieces__item">
          <a class="pieces__link"
             href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1671346"
             title="Český rozhlas"
             target="_blank"
             rel="noreferrer">
            Variations on a Gypsy melody for Violin (Viola or Flute) and String Orchestra (or Wind Orchestra)
          </a>
        </li>
        <li class="pieces__item">
          <a class="pieces__link"
             href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1671519"
             title="Český rozhlas"
             target="_blank"
             rel="noreferrer">
            Variations on a Gypsy melody for Violin (of Viola) and Piano (2002)
          </a>
        </li>
        <li class="pieces__item">
          <a class="pieces__link"
             href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1671527"
             title="Český rozhlas"
             target="_blank"
             rel="noreferrer">
            Variations on a Gypsy melody for Flute (or Clarinet) and Piano (2002)
          </a>
        </li>
        <li class="pieces__item">
          <a class="pieces__link"
             href="https://www.rozhlas.cz/nakladatelstvi/vaznahudba/_zprava/1801351"
             title="Český rozhlas"
             target="_blank"
             rel="noreferrer">
            The Abduction of Scheherazade for Flute and Piano (2001)
          </a>
        </li>
      </ul>
      <ul class="pieces__list pieces__list--not-printed">
        <li class="pieces__item">Shebiana for French horn and Piano (2016)</li>
        <li class="pieces__item">La Valse de l’avanture (2016)</li>
        <li class="pieces__item">"Pinocchio" 4-hands duet for children (2014)</li>
        <li class="pieces__item">"Beauty and Beast", duo Viola & Violoncello (2014)</li>
        <li class="pieces__item">Concerto for Violin and Orchestra (2013)</li>
        <li class="pieces__item">"Corsaresca" for Piano and Strings (2012)</li>
        <li class="pieces__item">Mater natae maritum eligit, women's choir (2011)</li>
        <li class="pieces__item">Shalik for Violoncello (Violin or Viola) and string orchestra (2011)</li>
        <li class="pieces__item">Shalik for Violoncello (Violin or Viola) and Piano (2011)</li>
        <li class="pieces__item">Rhapsody on an Old Czech Song for piano and orchestra (2010)</li>
        <li class="pieces__item">P. de Sarasate: Carmen Fantasy - piano accompaniment arrangement (2009)</li>
        <li class="pieces__item">Sarabande and Gigue for Two Violins (2009)</li>
        <li class="pieces__item">Trio Exotique Violin, Violoncello and Piano (2009)</li>
        <li class="pieces__item">Trio Romantique for Violin, Violoncello and Piano (2009)</li>
        <li class="pieces__item">Four Gypsy Songs (2008)</li>
        <li class="pieces__item">Cavalleresca for Piano (2008)</li>
        <li class="pieces__item">Djinnia for Violin and Orchestra (2007)</li>
        <li class="pieces__item">Djinnia for Violin and Piano (2007)</li>
        <li class="pieces__item">Concerto No. 2 for Piano and string orchestra (2005)</li>
        <li class="pieces__item">Concerto No. 1 for Piano and orchestra (2004)</li>
        <li class="pieces__item">Two Pieces for Children for Piano 4 hands (2003)</li>
        <li class="pieces__item">Romantic Pieces for Piano (2003)</li>
        <li class="pieces__item">Etudes for Piano (2002)</li>
        <li class="pieces__item">Nocturno for Piano (2000)</li>
        <li class="pieces__item">Variations on a Folk Song for piano (1998)</li>
      </ul>
      <button class="pieces__btn btn" type="button">Show all</button>
    </div>
  </section>
