$max-sm: "(max-width: 575px)";
$min-sm: "(min-width: 576px)";
$max-md: "(max-width: 767px)";
$min-md: "(min-width: 768px)";
$max-lg: "(max-width: 991px)";
$min-lg: "(min-width: 992px)";
$max-xl: "(max-width: 1199px)";
$min-xl: "(min-width: 1200px)";

$font: "Roboto", "Arial", sans-serif;
$font-color: #eeeeee;

